body {
  margin: 0;
  font-family: sans-serif;
}

canvas {
  display: block;
}

.nodeCount {
  color: cyan;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.75);
}
